[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "public"]
	path = public
	url = https://github.com/guyko91/guyko91.github.io.git
	branch = main
